*.exe
*~
*.png
src/Posts/rank1/foo
src/Mathematica/DiscPoints.jpg
src/Mathematica/PrideoutTwist1.jpg
src/Posts/foo.ppm
src/Posts/involution_mix_b1.c
src/Posts/involution_mix_b2.c
src/Posts/divisibility.c
src/Posts/foo.c
src/Posts/lambert.c
src/Posts/lds_disc_1.c
src/Posts/rank1.c
src/Posts/rank1/basis.c
src/Posts/slerp/reparam1.sollya
src/TestAndSearch/check_bijection.c
src/TestAndSearch/WeylBitByBit.c
src/SFH/plotly.h
src/SFH/rng_xform.h
